/Almost.class
/Class.class
/Foo.class
/IllegalComment.class
/IllegalExpressions.class
/IllegalStmt.class
/Keywords.class
/LValueFail.class
/MainClass.class
/NonTokens.class
/OfItsOwn.class
/SuperClass.class
/Test.class
/_id.class
/id.class
/id_.class
/id_0_1__.class
/idfail.class
